VITE_SUPABASE_URL=https://ouysblhxqlidfxrjxhft.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im91eXNibGh4cWxpZGZ4cmp4aGZ0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3OTE1NjI1OTUsImV4cCI6MjEwNzEzODU5NX0.XbmWVjFWz5Qd2hf2i-XIUuZF-7J9UoowuM5VNUHuS88
